<!DOCTYPE html>
<html>
  <head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <link rel='stylesheet' href='/stylesheets/index.css' />
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>게시판</title>
  </head>
  <body>
      <div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/reservation" class="">예약</a></li>
                        <li>
                            <a href="/evaluate" >평가 </a>
                            
                        </li>
                        <li><a href="/register">등록</a></li>
                        <li class="active"><a href="/bullet" >게시판 </a>
                        </li>
                        <li><a href="/login" >로그인 </a>                            
                        </li>
                         <li><a href="/join" >회원가입 </a>                            
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">검색</button>
          </form>
                </div>
            </div>
        </nav>
    </div>
</div>
      <a href="newwrite" onclick="displayWriteForm();"><div class="write_btn">새 글</div></a>
   
   <table border="1px" class="table">
       <tr>
      <th width="10%">번호</th>
      <th width="20%">제목</th>
           <th width="20%">아이디</th>
        <th width="10%">날짜</th>
        <th width="10%">조회수</th>
    </tr>
<!--<%if(contents.length>0){%>
        <%var i = 0;%>
        <%contents.forEach(function(item){%>
        <%i++;%>-->
        <tr>
            <td class="number"><%=i%></td>
            <td class="title"><a href="/boards/view?id=<%=item._id%>"><%=item.title%></a></td>
            <td class="writer"><%=item.writer%></td>
            <td class="date"><%=dateFormatChange(item.date)%></td>
            <td class="cnt"><%=item.count%></td>
        </tr>
        <%})%>
        <%} else {%>
        <tr>
            <td colspan="5">게시물이 없습니다.</td>
        </tr>
<%}%>
     
  </table>
  </body>
</html> 